body{
  background-color: #fff;
  font: normal 15px Arial;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

header{
  color: #fff;
  text-align: center;
}

section{
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: 350px;
}

footer{
  text-align: center;
  font-style: italic;
  color: #fff;
  font-size: 18px;
}

div{
  text-align: center;
  padding: 15px;
}

#img{
  width: 250px;
  height: 250px;
}

#msg{
  color: rgba( 0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: bold;
}

#box-clock{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  & h1{
    font-size: 2em;
    color: rgba( 0, 0, 0, 0.6);
  }
  & h1:not(:last-child)::after{
    content: ':';
  }
}